<h1>Ajouter une annonce</h1>
<%= form_tag "/add", method: "post" do %>
  <input type="text" name="Titre" />
  <input type="textarea" name="content" />
  <input type="submit" value="Soumettre" />
<% end %>
