<h1>Formulaire d'inscription</h1>
<a href="/" class="btn btn-default">Retourner à l'accueil</a>
<%= form_tag "/users/new", method: :post do %>
  <div class="form-group">
    <label for="login">Identifiant</label>
    <input id="login" class="form-control" type="text" name="login" placeholder="Identifiant" required /><br />
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input id="password" class="form-control" type="password" name="password" placeholder="Mot de passe" required /><br />
  </div>
  <input type="submit" class="btn btn-primary" value="S'inscrire" />
<% end %>

<p>
  Vous avez déjà un compte ? <a href="/users/login" title="Formulaire de connexion">Connectez-vous</a>
</p>
